# Pastas de build e do Visual Studio
*.vs/
[Dd]ebug/
[Rr]elease/
x64/
Win32/
ipch/

# Arquivos gerados pelo usuário e pelo projeto
*.vcxproj.user
*.suo
*.user

# Arquivos de log e temporários de build
*.log
*.tlog
*.recipe
*.lastbuildstate

# Arquivos de objeto compilados
*.slo
*.lo
*.o
*.obj

# Cabeçalhos pré-compilados
*.gch
*.pch

# Arquivos de linker
*.ilk

# Arquivos de depuração
*.pdb
*.idb
*.dwo

# Bibliotecas dinâmicas compiladas
*.so
*.dylib
*.dll

# Bibliotecas estáticas compiladas
*.lai
*.la
*.a
*.lib

# Executáveis
*.exe
*.out
*.app